*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: cursive;
    background: rgb(230, 133, 186);
}

.animation-box{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.first-text{
    font-size: 4rem;
    color:darkmagenta;
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: untoldcoding1;
    animation-duration: 12s;
    animation-delay: 0s;
}

.second-text{
    font-size: 3rem;
    color:whitesmoke;
    position: absolute;
    top: 8rem;
    opacity: 0;
    animation-name: untoldcoding2;
    animation-duration: 7s;
     animation-delay: 13s;
}

.third-text{
    font-size: 2.5rem;
    color: darkorchid;
    position: absolute;
    left: 45%;
    top: 45%;
    opacity: 0;
    animation-name: untoldcoding3;
    animation-duration: 12s;
    animation-delay: 21s;
    /* white-space: nowrap; */
    /* transform: rotate(-90deg); */
}

.fourth-text{
    font-size: 3rem;
    color:red;
    position: absolute;
    left: 10%;
    top: 10rem;
    opacity: 0;
    animation-name: untoldcoding4;
    animation-duration: 30s;
    animation-delay: 33s;
}

.fifth-text{
    font-size: 3.5rem;
    color:gray;
    position: absolute;
    left: 5%;
    bottom: 25%;
    opacity: 0;
    animation-name: untoldcoding5;
    animation-duration: 45s;
    animation-delay: 63s;
}

@keyframes untoldcoding5{
    0%{
        top: -4rem;
        opacity: 1;
    }
     75%{
        bottom: 20%;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes untoldcoding2{
    0%{
        top: -3rem;
        opacity: 1;
    }
     75%{
        top: 45%;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes untoldcoding3{
    0%{
        top: -3rem;
        opacity: 1;
    }
     75%{
        top: 45%;
        opacity: 1;
    }
    100%{
        
        opacity: 1;
    }
}
@keyframes untoldcoding4{
    0%{
        top: -3rem;
        opacity: 1;
    }
     75%{
        right: 10rem;
        opacity: 1;
    }
    100%{
        right: 10rem;
        opacity: 1;
    }
}
@keyframes untoldcoding1{
    0%{
        top: -3rem;
        opacity: 1;
    }
     75%{
        top: 25%;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}



























