*{
    margin: 0%;
    padding: 0%;
}

.container{
    min-height: 100vh;
    background-color: #fff;
    background-image: url(https://media.istockphoto.com/id/2217599273/photo/empty-blank-buff-brown-beige-khaki-fawn-nude-colored-grunge-textured-horizontal-background.jpg?s=612x612&w=0&k=20&c=_s5XkTDCI4HpNyhPHUMqRSOw1ju7fp1rb3fX-9NQi-k=);
    color: #000;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* p{
    line-height: 1.6;
} */

li{
    list-style: none;
}


.live-filter{
    width: 30rem;
    box-shadow: 1rem 1rem 2rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    margin: 2rem 0;
    background-color: #fff;
}

.search{
    background-color: #434343;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: aliceblue;
    padding: 2rem 0.5rem;
}

.search h1,h3{
    margin: 10px;
    padding: 4px;
}

.search input{
    width: 60%;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    outline: none;
}

::placeholder{
    font-weight: 900;
}

.user-info{
    padding: 2rem;
    height: 47vh;
    overflow: auto;
}

.user-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.user-data img{
    max-width: 100%;
    height: auto;
    width: 6rem;
    border-radius: 50%;
    

}

.user-data div{
    text-align: start;
    
}

.hide{
    display: none;
}



