*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: x-large;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right bottom,#232323,#3698);

}

.container{
    position: relative;
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 40%;
    background-color: rgb(255,255,255,0.2);
    border: 2px solid rgb(123,324,453,0.34);
    box-shadow: 1px 1px 30px rgb(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::before{
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 40%;
    background-color: white;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}
